@font-face {
    font-family: gatolados;
    src: url(./gatolados.ttf);
}

@font-face {
    font-family: titulo-index;
    src: url(./titulo-index.ttf);
}

@font-face {
    font-family: texto-index;
    src: url(./texto-index.ttf);
}

@font-face {
    font-family: titulo-main;
    src: url(./titulo-main.Otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgb(205, 238, 255);
box-shadow: 3px 3px 3px rgba(255, 148, 209, 0.537);
}

.logo img { 
    width: 100px;
    margin-right: 50px;
}
.bg-light, .navbarSupportedContent{
    background: rgb(205, 238, 255) !important;
    padding: 0!important;
}

.collapse{
    background: rgb(205, 238, 255) !important;
        padding: 0 !important;
}
    /* border: 1px solid #000; */
.nav{
    font-family: gatolados;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
} 


.nav a{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 148, 208);    
}
.col, .row{
    background: #fff;
}

h1{
    padding: 1rem;
}

.titulo-index{
    background: none;
}

.titulo-index h1{
    color: rgb(255, 148, 208);
    font-size: 100px;
    font-family: titulo-index;
}

.texto-index{
    font-family: texto-index;
    padding: 50px;
    font-size: 20px;
    
}

.titulo-main{
    color: rgb(132, 224, 252);
    font-size: large;
    font-family: titulo-index;
}

h2{
    font-family: gatolados;
    color: rgb(255, 148, 208);
    font-size: 100px;
}

.main-productos, .main-galeria {
        background-image: url(../img/fondo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }


/* PRODUCTOS */


.main-productos{
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}  

.fotos-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.fotos-productos .card {
    box-shadow: 5px 5px 5px rgba(218, 117, 34, 0.473);
}

.card .img:hover {
    transform: scale(1.1);
    transition: 1s;
}

.contenedor-tabla{
    width: 1000px;
}

.table{
    background: rgba(205, 238, 255, 0.9)
}

th{
    background-color: #fff;
    padding: 10px;
    background-color: rgb(255, 148, 208);
}

td{
    padding: 10px;
    font-size: 20px;
}

td img{
    width: 100px;
}


/* GALERIA */


.main-galeria{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.valoracion-container{
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: rgb(236, 236, 236);
    border: 1px solid #000;
    border-radius: 10px;
    margin-top: 2rem;
}

.valoracion{
    color: yellow;
    text-shadow: 1px 1px #000 ;
}

.texto-reseña{
    width: 50rem
}


/* CONTACTO */


.main-contacto{
    display: flex;
    height: fit-content;
    background-image: url(../img/contacto3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

form{
    width: 30rem;
    background:rgba(119, 118, 117, 0.521);
    border-radius: 10px;
    margin: 2%;
    
}

.form {
    width: 30rem;
    background: rgba(119, 118, 117, 0.521);
    border-radius: 10px;
    margin: 2%;

}

form div{
    padding: 1rem;
    border-radius: 10px;
    color: rgb(5, 5, 5)
}

label{
    color:rgb(255, 255, 255);
}

.item-form{
    display: flex;
    gap: 20px;
}

/* FOOTER */

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 3px -3px 3px rgba(255, 148, 209, 0.537);
    background: rgb(205, 238, 255)
}

.copyright p{
    font-size: 25px;
    margin: 0;
}

.redes a{
    padding-left: 100px;
    text-decoration: none;
}